* {
    padding: 0;
    margin: 0;
    font-family: Garet, sans-serif;
    /* font-weight: 100; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #705035;
    height: 12vh;
    padding-right: 10vw;
}

.logo {
    width: 6%;
    filter: invert(100%);
}

.itens_header {
    color: white;
    text-decoration: none;
}
.itens_header:hover{
    color: #af7d56;
    border-bottom: 1px solid #af7d56;
}


.materiais {
    background-color: #EDD6C2;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.sugestao_materiais {
    background-color: #C59A78;
    width: 25vw;
    height: 16vh;
    border-radius: 10px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2vw;
}

.opçoes_materiais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.coluna_materiais {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.img_materiais {
    /* border: 1px solid black; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 35%;
    height: 100%;
}

.img_materiais > img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.descricao_material {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    /* border: 1px solid white; */
}

.categoria {
    display: flex;
    flex-direction: column;
}