* {
    padding: 0;
    margin: 0;
    font-family: Garet, sans-serif;
    font-weight: 100;
}

main{
    background-color: #edd6c2;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3vh;
}

.login_tudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35vw;

    gap: 2vw;
}

a{
    text-decoration: none;
}

.faça_agora {
    color: black;
}

.faça_agora:hover {
    color: #917560;
    border-bottom: 1px solid #917560;
}

.acesso{
    background-color: #C59A78;
    width: 7vw;
    height: 5vh;
    border-radius: 10px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acesso:hover {
    background-color: #917560;
}

.campo_foto {
    width: 65vw;
    height: 100vh;
    background-image: url(../imagens/foto_login.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 3vh;
}

.campo_login{
    border-radius: 15px;
    border: none;
    width: 20vw;
    height: 5vh;

    padding-left: 1VW;
}

.criar-conta {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2vw
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}