* {
    padding: 0;
    margin: 0;
    font-family: Garet, sans-serif;
    /* font-weight: 100; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #705035;
    height: 12vh;
    padding-right: 10vw;
}

.logo {
    width: 6%;
    filter: invert(100%);
}

.itens_header {
    color: white;
    text-decoration: none;
}

main {
    background-color: #dfb590;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    height: 88vh;
}

.atividades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.caixa_atividade {
    /* border: 1px solid green; */
    width: 15vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.foto_atividade {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.info_atividade {
    background-color: #b08666;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_atividade {
    /* border: 1px solid white; */
    width: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nome {
    font-size: 13pt;
}

.nivel_texto {
    font-size: 10pt;
}

.salvar {
    display: flex;
    justify-content: center;
    align-items: center;
}