* {
    padding: 0;
    margin: 0;
    font-family: Garet, sans-serif;
    /* font-weight: 100; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #705035;
    height: 12vh;
    padding-right: 10vw;
}

.logo {
    width: 6%;
    filter: invert(100%);
}

.itens_header {
    color: white;
    text-decoration: none;
}

main {
    background-color: #dfb590;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    height: 88vh;
}

.atividades {
    background-color: #dfb590;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px; /* Adiciona um espaçamento interno */
}

.caixa_atividade {
    /* border: 1px solid green; */
    width: 15vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.foto_atividade {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.info_atividade {
    background-color: #b08666;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.topico_info {
    margin-left: 1vw;
}

.texto_atividade {
    /* border: 1px solid white; */
    width: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.nome {
    font-size: 13pt;
}

.nivel_texto {
    font-size: 10pt;
}

.excluir_atividade {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_excluir {
    border: none;
    background-color: #EDD6C2;
    width: 3.4vw;
    height: 3vh;
    border-radius: 7px;
}

.botao_excluir:hover {
    background-color: #dfb590;
    cursor: pointer;
}